html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
textarea {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}
body.dialog-open {
  position: fixed;
  width: 100%;
}
.page {
  padding: 0 50px;
  width: 100%;
  box-sizing: border-box;
}
.allcover {
  position: absolute;
  top: 0;
  right: 0;
}
.center {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-50%, -50%);
}
.ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.cl {
  position: absolute;
  right: 0;
  transform: translateX(-50%);
}
.boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
